#forminscription {
    width:60%;
    height:60%;
    background-color:#202020;
    margin-top: 10%;
    left: 20%;
    right: 20%;
    border: none;
    border-radius: 20px;
    position: fixed!important;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s

}

#formtitle {
    text-align: center;
    color: #fff;
    font-size: 35px;

}

#formtitleconnexion {
 text-align: center;
 color: #fff;
 font-size: 15px;

}

#formtableau {
    padding-left: 17%;
    width: 83%;
}

#formtableauconnexion {
   padding-left: 10%;
   width: 80%;
   border: white;
}

#formtableausubmit {
    width: 100%;
}

input[type=text], select, textarea {
    color: rgba(106, 106, 106, 0.8);
    width: 40%;
    margin: 10px 8px 22px 0;
    display: inline-block;
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background: transparent;
}

#pseudoconnexion{
    color: rgba(106, 106, 106, 0.8);
    width: 100%;
    margin: 10px 8px 22px 0;
    display: inline-block;
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background: transparent;
}
#passconnexion{
    color: rgba(106, 106, 106, 0.8);
    width: 100%;
    margin: 10px 8px 22px 0;
    display: inline-block;
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background: transparent;
}

input[type=date]{
    color: rgba(106, 106, 106, 0.8);
    width: 40%;
    margin: 10px 8px 22px 0;
    display: inline-block;
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background: transparent;
}

input[type=password]{
    color: rgba(106, 106, 106, 0.8);
    width: 40%;
    margin: 10px 8px 22px 0;
    display: inline-block;
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background: transparent;
}

input[type=file]{
 color: rgba(106, 106, 106, 0.8);
 width: 40%;
 margin: 10px 8px 22px 0;
 display: inline-block;
 padding: 12px;
 border: none;
 border-bottom: 1px solid #ccc;
 border-radius: 4px;
 resize: vertical;
 background: transparent;
}

#submit{
    align-content: center;
    background-color: #5e34e4;
    border-radius: 20px;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
    display: block;
    margin : auto;
}

.submit:hover {
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #0c0c0ca1;
    padding-top: 50px;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.6s;
    animation-name: fadeIn;
    animation-duration: 0.6s
}

.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #0c0c0ca1;
    padding-top: 50px;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.6s;
    animation-name: fadeIn;
    animation-duration: 0.6s
}


.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

.formconnexion {
    width:35%;
    height:35%;
    background-color:#202020;
    margin-top: 10%;
    left: 32%;
    right: 32%;
    border: none;
    border-radius: 20px;
    position: fixed!important;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

#mdpoublier{
    margin-left: 67%;
    color:white;
    text-decoration: underline dotted;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}