@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background-color:#3B3B3B;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    opacity: .99;
    z-index: 0;

}

#topbar {
    width:100%;
    height:10%;
    top: 0px;
    background-color:#202020;
    position:fixed;
    opacity:.99;
    z-index:2;
}

#openNav {
    bottom:10.315%;
    margin-left:50px;
    position:fixed;
}

#closeNav {
    visibility:visible;
    bottom:100px;
    left:50px;
    margin-top:290%;
    position: fixed!important;
    opacity:.99;
    z-index:100;
}

.sidebar{
    top:0;
    height:100%;
    width:200px;
    background-color:#272727;
    position:fixed!important;
    overflow:hidden;
    opacity: .99;
    z-index: 100;
}

.card{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.animate-left{
    position:relative;
    animation:animateleft 0.4s;
    opacity: .99;
    z-index: 100;
}

@keyframes animateleft{
    from{left:-300px;
        opacity:0;
    }
    to{
        left:0;
        opacity:1;
    }
}

a{
    text-decoration: none;
}

#adminsite {
    position:absolute!important;
    bottom:20%;
    width:0%;
    border-left: 3px solid blueviolet;
    -webkit-transition: width 2s;
    transition: width 2s;
}

#adminsite:hover {
    background-color: blueviolet;
    width:100%;
}

.button1 {
    width:100%;
    height:5%;
    padding: 10px 10px 10px 40px;
    position: relative;
}

#adminproj {
    margin-top:40%;
    border-left: 3px solid blueviolet;
    <!--background-color: blueviolet;-->
}

#News {
    border-left: 3px solid #b39e7d;
}

#Forum {
    border-left: 3px solid teal;
}


#Revue {
    border-left: 3px solid indianred;
}

#Timeline {
    border-left: 3px solid #33a1cd;
}



.maintitle {
    padding-top:.5%;
    margin-left:45%;
    margin-right:45%;
    color:white;
    position:absolute;
    opacity: .99;
    z-index: 105;
}

.title {
    color:white;
    text-decoration: none;
}

#connect {
    padding-top: 1%;
    right:17%;
    position: fixed!important;
    opacity: .99;
    z-index: 105;
}

#inscription {
    padding-top: 1%;
    right:10%;
    position: fixed!important;
    opacity: .99;
    z-index: 105;
}