@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media screen and (max-width: 1920px) {

    @font-face {
        font-family: 'Open Sans', sans-serif;
        local('fonts/openSans/OpenSans-Regular.ttf');
    }

    body {
        background-color: #3B3B3B;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        opacity: .99;
        z-index: -9;
    }

    #topbar {
        width: 100%;
        height: 10%;
        top: 0px;
        background-color: #202020;
        position: fixed;
        opacity: .99;
        z-index: 2;
    }

    #openNav {
        bottom: 100px;
        margin-left: 50px;
        position: fixed;
        opacity: .99;
        z-index: 10;
    }

    #closeNav {
        visibility: visible;
        bottom: 100px;
        left: 50px;
        margin-top: 290%;
        position: fixed !important;
        opacity: .99;
        z-index: 100;
    }

    .sidebar {
        top: 0;
        height: 100%;
        width: 15%!important;
        background-color: #272727;
        position: fixed !important;
        overflow: hidden;
        opacity: .99;
        z-index: 100;
    }

    .card {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
    }

    .animate-left {
        position: relative;
        animation: animateleft 0.4s;
        opacity: .99;
        z-index: 100;
    }

    @keyframes animateleft {
        from {
            left: -300px;
            opacity: 0;
        }
        to {
            left: 0;
            opacity: 1;
        }
    }

    .animate-close {
        position: relative;
        animation: animateclose 0.4s;
        opacity: .99;
        z-index: 100;
    }

    @keyframes animateclose {
        from {
            left: 0;
            opacity: 0;
        }
        to {
            left: -300px;
            opacity: 1;
        }
    }

    a {
        text-decoration: none;
    }

    .button1 {
        width: 100%;
        height: 5%;
        padding: 10px 10px 10px 20px;
        position: relative;
    }

    #adminsite {
        position: absolute !important;
        bottom: 20%;
        border-left: 3px solid blueviolet;
        width: 0;
        transition: all 500ms ease;
    }

    #adminsite:hover:before {
        width: 100%;
    }

    #adminsite:hover {
        background-color: blueviolet;
        width: 100%;
        -webkit-transition: width .5s;
        transition: width .5s;
    }

    #adminbtntitle {
        width: 100px;
        height: 100px;
        margin-top: -0px;
    }

    .avatar {
        border-radius: 50px;
        margin-top: 15%;
        margin-left: 31%;
        margin-right: 31%;
        height: 100px;
        width: 100px;
    }

    .avatarname {
        color: white;
        text-align: center;
    }

    #adminproj {
        margin-top: 25%;
        border-left: 3px solid blueviolet;
        width: 0;
        transition: all 500ms ease;
    }

    #adminproj:hover:before {
        width: 100%;
    }

    #adminproj:hover {
        background-color: blueviolet;
        width: 100%;
        -webkit-transition: width .5s;
        transition: width .5s;
    }

    #News {
        border-left: 3px solid #b39e7d;
        width: 0;
        transition: all 500ms ease;
    }

    #News:hover:before {
        width: 100%;
    }

    #News:hover {
        background-color: #b39e7d;
        width: 100%;
        -webkit-transition: width .5s;
        transition: width .5s;
    }

    #Forum {
        border-left: 3px solid teal;
        width: 0;
        -webkit-transition: width .5s;
        transition: all 500ms ease;
    }

    #Forum:hover:before {
        width: 100%;
    }

    #Forum:hover {
        background-color: teal;
        width: 100%;
        -webkit-transition: width .5s;
        transition: width .5s;
    }

    #Revue {
        border-left: 3px solid indianred;
        width: 0;
        -webkit-transition: width .5s;
        transition: all 500ms ease;
    }

    #Revue:hover:before {
        width: 100%;
    }

    #Revue:hover {
        background-color: indianred;
        width: 100%;
        -webkit-transition: width .5s;
        transition: width .5s;
    }

    #Timeline {
        border-left: 3px solid #33a1cd;
        width: 0;
        -webkit-transition: width .5s;
        transition: all 500ms ease;
    }

    #Timeline:hover:before {
        width: 100%;
    }

    #Timeline:hover {
        background-color: #33a1cd;
        width: 100%;
        -webkit-transition: width .5s;
        transition: width .5s;
    }

    .maintitle {
        padding-top: .5%;
        margin-left: 45%;
        margin-right: 45%;
        color: white;
        position: absolute;
        opacity: .99;
        z-index: 105;
    }

    .title {
        color: white;
        text-decoration: none;
    }

    #logout {
        position: absolute;
        bottom: 90px;
        left: 55%;
    }

    #connect {
        padding-top: 1%;
        right: 17%;
        position: fixed !important;
        opacity: .99;
        z-index: 105;
    }

    #inscription {
        padding-top: 1%;
        right: 10%;
        position: fixed !important;
        opacity: .99;
        z-index: 105;
    }

    #forminscription {
        width:60%;
        height:60%;
        background-color:#202020;
        margin-top: 10%;
        left: 20%;
        right: 20%;
        border: none;
        border-radius: 20px;
        position: fixed!important;
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s

    }

    #formtitle {
        text-align: center;
        color: #fff;
        font-size: 35px;

    }

    #formtitleconnexion {
        text-align: center;
        color: #fff;
        font-size: 15px;

    }

    #formtableau {
        padding-left: 17%;
        width: 83%;
    }

    #formtableauconnexion {
        padding-left: 10%;
        width: 80%;
        border: white;
    }

    #formtableausubmit {
        width: 100%;
    }

    input[type=text], select, textarea {
        color: rgba(106, 106, 106, 0.8);
        width: 40%;
        margin: 10px 8px 22px 0;
        display: inline-block;
        padding: 12px;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        background: transparent;
    }

    #pseudoconnexion{
        color: rgba(106, 106, 106, 0.8);
        width: 100%;
        margin: 10px 8px 22px 0;
        display: inline-block;
        padding: 12px;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        background: transparent;
    }

    #codereset{
        color: rgba(106, 106, 106, 0.8);
        width: 100%;
        margin: 10px 8px 22px 0;
        display: inline-block;
        padding: 12px;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        background: transparent;
    }

    #emailforreset{
        color: rgba(106, 106, 106, 0.8);
        width: 100%;
        margin: 10px 8px 22px 0;
        display: inline-block;
        padding: 12px;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        background: transparent;
    }

    #passconnexion{
        color: rgba(106, 106, 106, 0.8);
        width: 100%;
        margin: 10px 8px 22px 0;
        display: inline-block;
        padding: 12px;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        background: transparent;
    }

    #passreset{
        color: rgba(106, 106, 106, 0.8);
        width: 100%;
        margin: 10px 8px 22px 0;
        display: inline-block;
        padding: 12px;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        background: transparent;
    }

    input[type=date]{
        color: rgba(106, 106, 106, 0.8);
        width: 40%;
        margin: 10px 8px 22px 0;
        display: inline-block;
        padding: 12px;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        background: transparent;
    }

    input[type=password]{
        color: rgba(106, 106, 106, 0.8);
        width: 40%;
        margin: 10px 8px 22px 0;
        display: inline-block;
        padding: 12px;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        background: transparent;
    }

    input[type=file]{
        color: rgba(106, 106, 106, 0.8);
        width: 40%;
        margin: 10px 8px 22px 0;
        display: inline-block;
        padding: 12px;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        background: transparent;
    }

    #submit{
        align-content: center;
        background-color: #5e34e4;
        border-radius: 20px;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 20%;
        opacity: 0.9;
        display: block;
        margin : auto;
    }

    .submit:hover {
        opacity: 1;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #0c0c0ca1;
        padding-top: 50px;
        -webkit-animation-name: fadeIn;
        -webkit-animation-duration: 0.6s;
        animation-name: fadeIn;
        animation-duration: 0.6s
    }

    .modal2 {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #0c0c0ca1;
        padding-top: 50px;
        -webkit-animation-name: fadeIn;
        -webkit-animation-duration: 0.6s;
        animation-name: fadeIn;
        animation-duration: 0.6s
    }

    .modaldemandederesetmdp{
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #0c0c0ca1;
        padding-top: 50px;
        -webkit-animation-name: fadeIn;
        -webkit-animation-duration: 0.6s;
        animation-name: fadeIn;
        animation-duration: 0.6s
    }

    .modalresetmdp{
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding-top: 50px;
    }

    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        font-size: 40px;
        font-weight: bold;
        color: #f1f1f1;
    }

    .close:hover,
    .close:focus {
        color: #f44336;
        cursor: pointer;
    }

    .formconnexion {
        width:35%;
        height:40%;
        background-color:#202020;
        margin-top: 10%;
        left: 32%;
        right: 32%;
        border: none;
        border-radius: 20px;
        position: fixed!important;
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s
    }

    .formreset {
        width:35%;
        height:45%;
        background-color:#202020;
        margin-top: 10%;
        left: 32%;
        right: 32%;
        border: none;
        border-radius: 20px;
        position: fixed!important;
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s
    }


    .formdemandederesetmdp{
        width:35%;
        height:35%;
        background-color:#202020;
        margin-top: 10%;
        left: 32%;
        right: 32%;
        border: none;
        border-radius: 20px;
        position: fixed!important;
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s
    }

    #mdpoublier{
        margin-left: 67%;
        color:white;
        text-decoration: underline dotted;
    }

    @-webkit-keyframes fadeIn {
        from {opacity: 0}
        to {opacity: 1}
    }

    @keyframes fadeIn {
        from {opacity: 0}
        to {opacity: 1}
    }

    @media screen and (max-width: 300px) {
        .cancelbtn, .signupbtn {
            width: 100%;
        }
    }

    #uploadavatar {
        display: none;
    }

}

@media screen and (max-width: 1366px) {

    h3 {
        font-size:16px;
    }

    #connect {
        margin-right:4%;
    }

    .button1 {
        padding: 7px 7px 7px 20px;
    }

    #adminsite {
        bottom:30%;
    }

    #mdpoublier {
        margin-left:62%;
    }

    #forminscription {
        margin-top:5%;
        overflow:auto;
        height:75%;
    }

    .formconnexion {
        height:52%;
    }

    #formtableau {
        padding-left: 17%;
        width: 83%;
        height:60px;
    }

    #uploadavatar {
        display: none;
    }

    #submit {
        margin-top: 5px;
    }

    input[type=date]{
        width: 40%;
        height:35px;
    }

    input[type=password]{
        margin-top:25px;
        width: 40%;
        height:35px;

    }

    #sexe {
        height:45px;
    }

}

@media screen and (max-width: 683px) {

    .sidebar {
        width: 30% !important;
    }

    #connect {
        font-size: 12px;
        padding-top:3%;
    }

    #inscription {
        font-size: 12px;
        padding-top:3%;
        right:9%;
    }

    #mdpoublier {
        margin-left:60%;
        font-size:14px;
    }

    .formconnexion {
        left:35%;
        width:60%;
    }

    #submit {
        width:25%;
    }

    #forminscription {
        margin-top:5%;
        margin-left:15%;
        overflow:auto;
        height:80%;
    }

    #formtableau {
        padding-left: 17%;
        width: 83%;
        height:60px;
    }

    input[type=date]{
        width: 40%;
        height:35px;
    }

    input[type=password]{
        margin-top:25px;
        width: 40%;
        height:35px;

    }

    input[type=file] {
        display: none;
    }

    #sexe {
        height:45px;
    }

    .custom-file-upload {
        height:10px;
        width:10px;
        border: 1px solid white;
        background-color: white;
        color:black;
        border-radius:3px;
    }

    #uploadavatar {
        color: rgba(106, 106, 106, 0.8);
        display: inline-block;
        padding-left: 17%;
        width: 60px;
        height:40px;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        background: transparent;
    }

}